<header>
  <div class="container">
    <a href="#"><img class="logo" [src]="logo" alt="Logo"/></a>

    <ul class="nav">
      <li>
        <button class="menu" routerLink="/dashboard" *ngIf="!this.tausch">
          Übersicht
        </button>
      </li>
      <li>
        <button class="menu" routerLink="/mybills" *ngIf="!this.tausch">
          Meine Rechnungen
        </button>
      </li>
      <li class="liactivity">
        <button class="menu" routerLink="/activity" *ngIf="!this.tausch">
          Aktivitäten
        </button>
      </li>

      <li>
        <button
          class="buttonSettings"
          *ngIf="!this.tausch"
          routerLink="/settings"
        >
          <img class="setting" [src]="settings" alt="settings" />
        </button>
      </li>

      <li>
        <button
          id="buttons"
          (click)="toggle()"
          routerLink="/logout"
          *ngIf="!this.tausch"
        >
          Abmelden
        </button>
      </li>

      <li *ngIf="this.tausch">
        <button id="buttons" routerLink="/register">
          Registrieren
        </button>
      </li>

      <li>
        <button
          id="buttons"
          (click)="toggle()"
          routerLink="/signin"
          *ngIf="this.tausch"
        >
          Anmelden
        </button>
      </li>

      <li>
        <button class="menu" routerLink="/business" *ngIf="this.tausch">
          Für Geschäftskunden
        </button>
      </li>
    </ul>

    <button class="changeheader" (click)="changer()"></button>
  </div>
</header>
