<footer>
  <!-- <ul>
    <li><a href="Datenschutz.html"> Datenschutz </a></li>
    <li><a href="AGB.html"> AGB </a></li>
    <li><a href="Impressum.html"> Impressum </a></li>
    <li><a href="Hilfe.html"> Hilfe </a></li>
    <li><a href="Kontakt.html"> Kontakt </a></li>
    <li><a href="Feedback.html"> Feedback </a></li>
  </ul> -->

  <button>Datenschutz</button>
  <button>AGB</button>
  <button>Impressum</button>
  <button>Hilfe</button>
  <button>Kontakt</button>
  <button>Feedback</button>

  <button class="copy">&copy;2019 BillHero</button>
</footer>
