<!-- <div class="bottom"> -->
<div class="container">
  <div class="imgs">
    <figure class="botimg">
      <img [src]="Image1" alt="front1" />

      <figcaption>
        Lorem ipsum dolor sit amet, <br />
        consectetuer adipiscing elit, <br />
        sed diam nonummy nibh euismod <br />
        tincidunt ut laoreet dolore <br />
        magna aliquam erat volutpat. <br />
        Ut wisi enim ad minim veniam, <br />
        quis nostrud exerci tation <br />
        ullamcorper suscipit lobortis <br />
        nisl ut aliquip ex ea commodo <br />
        consequat.
      </figcaption>
    </figure>

    <figure class="botimg">
      <img [src]="Image2" alt="front2" />
      <figcaption>
        Lorem ipsum dolor sit amet, <br />
        consectetuer adipiscing elit, <br />
        sed diam nonummy nibh euismod <br />
        tincidunt ut laoreet dolore <br />
        magna aliquam erat volutpat. <br />
        Ut wisi enim ad minim veniam, <br />
        quis nostrud exerci tation <br />
        ullamcorper suscipit lobortis <br />
        nisl ut aliquip ex ea commodo <br />
        consequat.
      </figcaption>
    </figure>

    <figure class="botimg">
      <img [src]="Image3" alt="front3" />

      <figcaption>
        Lorem ipsum dolor sit amet, <br />
        consectetuer adipiscing elit, <br />
        sed diam nonummy nibh euismod <br />
        tincidunt ut laoreet dolore <br />
        magna aliquam erat volutpat. <br />
        Ut wisi enim ad minim veniam, <br />
        quis nostrud exerci tation <br />
        ullamcorper suscipit lobortis <br />
        nisl ut aliquip ex ea commodo <br />
        consequat.
      </figcaption>
    </figure>
  </div>

  <div class="container">
    <img [src]="Image4" alt="front1" class="logo" />
    <h2>Jetzt kostenlos anmelden!</h2>

    <button class="go" routerLink="/register">Loslegen</button>
  </div>
</div>
