<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <img class="Billy" [src]="Billy" alt="Billy" />

      <div class="vertical"></div>

      <div class="box">
        <ul>
          <li>
            <h1 class="register">
              Neu bei BillHero? <a routerLink="/register">Registrieren</a>
            </h1>
          </li>

          <li>
            <input
              type="text"
              class="form-control"
              placeholder="E-Mail"
              [(ngModel)]="mail"
            />
          </li>
          <li>
            <input
              type="password"
              class="form-control"
              placeholder="Passwort"
              [(ngModel)]="passwort"
            />
          </li>
        </ul>

        <button class="login" (click)="mailTest()" routerLink="/dashboard">
          Einloggen
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Vorteile Nachteile aufzeigen
selbes Passwort
schwächen passwörter aufzeigen
Andere Möglichkeiten (Iris scan)
Mehrwerte aufzeigen -->
