<div class="container">
  <ul>
    <li><h1>Rechnung erstellen</h1></li>

    <li><h2>Geben Sie bitte die Daten des Empfängers ein</h2></li>

    <li><input type="text" class="form-control" placeholder="User-ID" /></li>

    <li><input type="text" class="form-control" placeholder="Produkt 1" /></li>

    <li><input type="text" class="form-control" placeholder="Produkt 2" /></li>

    <li><input type="text" class="form-control" placeholder="Produkt 3" /></li>

    <li><input type="text" class="form-control" placeholder="Frist" /></li>

    <li><input type="text" class="form-control" placeholder="Preis" /></li>

    <li><button class="commit">Absenden</button></li>
  </ul>
</div>
