<div class="container">
  <div class="category">
    <p><a id="standard">Unbezahlte Rechnungen</a></p>
    <p><a id="standard">Bezahlte Rechnungen</a></p>
    <p><a id="standard">Alle Rechnungen</a></p>
    <hr />
    <input
      type="text"
      class="form-control"
      placeholder="neue Kategorie"
      [(ngModel)]="input"
    />
    <p *ngFor="let category of category">
      <a class="categoryFolder">{{ category.name }}</a>
    </p>

    <button class="new" (click)="newCategory()">
      neue Kategorie
    </button>
  </div>
  <div class="middlecontainer">
    <div class="billList" *ngFor="let bill of bill" draggable="true">
      <ul class="list-group-item" id="list">
        <li class="list-group">{{ bill.billnr }}</li>
        <li class="list-group">{{ bill.name }}</li>
        <li class="list-group">{{ bill.deadline }}</li>
        <li class="list-group">{{ bill.price }}€</li>
        <li>
          <Button
            class="billStatus"
            disabled="false"
            [ngStyle]="{ 'background-color': bill.status ? 'green' : 'red' }"
          ></Button>
        </li>
      </ul>
    </div>
  </div>
  <div class="rightcontainer">
    <app-bill-detail></app-bill-detail>
  </div>
</div>
