<div class="container">
  <div class="category">
    <p>Alle Rechnungen</p>
    <p>Bezahlte Rechnungen</p>
    <p>Unbezahlte Rechnungen</p>
    Dieter
    <hr />
    <input
      type="text"
      class="form-control"
      placeholder="neue Kategorie"
      [(ngModel)]="input"
    />
    <p *ngFor="let category of category">{{ input }}</p>

    <button class="new" (click)="newCategory()">
      neue Kategorie
    </button>
  </div>

  <div class="rightcontainer">
    <div class="billList" *ngFor="let bill of bill">
      <ul class="list-group-item" id="list">
        <li class="list-group">{{ bill.billnr }}</li>
        <li class="list-group">{{ bill.name }}</li>
        <li class="list-group">{{ bill.deadline }}</li>
        <li class="list-group">{{ bill.price }}€</li>
        <li><Button class="billStatus" disabled=false [ngStyle]="{'background-color': bill.status? 'green' : 'red'}"></Button></li>
      </ul>
    </div>
  </div>
</div>
