<div class="container">
  <div class="category">
      <input
      type="search"
      style="margin-top:15px"
      class="form-control"
      placeholder="Rechnung suchen"/>
      <hr />
    <p><a id="standard">Unbezahlte Rechnungen</a></p>
    <p><a id="standard">Bezahlte Rechnungen</a></p>
    <p><a id="standard">Alle Rechnungen</a></p>
    <hr />
    <input
      type="text"
      class="form-control"
      placeholder="neue Kategorie"
      [(ngModel)]="input"
    />
    <p *ngFor="let category of category">
      <a class="categoryFolder">{{ category.name }}</a>
    </p>

    <button class="new" (click)="newCategory()">
      neue Kategorie
    </button>
  </div>
  
  <div class="middlecontainer">
    <div class="billList" *ngFor="let bill of bill" (click)="billClick(bill.id)">
      <ul class="list-group-item" id="list">
          <!-- <button type="button" id="categoryDropDown" class="btn btn-primary dropdown-toggle">
              {{ billCategory }}
              <span class="caret"></span>
            </button> -->
            <select name="" class="categoryDropDown" id="">{{ billCategory }}
              <option *ngFor="let category of category" [value]="category.name"> {{category.name}} </option>
            </select>
        <li class="list-group">{{ bill.shortname }}</li>
        <li class="list-group">{{ bill.deadline }}</li>
        <li class="list-group">{{ bill.amount }}</li>
        <li>
          <Button
            class="billStatus"
            disabled="false"
            [ngStyle]="{ 'background-color': bill.paymentStatus==1 ? 'green' : 'red' }"
          ></Button>
        </li>
      </ul>
    </div>
  </div>
  <div class="rightcontainer">
    <app-bill-detail></app-bill-detail>
  </div>
</div>
