<header>
  <div class="container">
    <a href="#" routerLink="/dashboard"
      ><img class="logo" [src]="logo" alt="Logo"
    /></a>

    <ul>
      <li><button class="menu" routerLink="/dashboard">Übersicht</button></li>
      <li>
        <button class="menu" routerLink="/mybills">meine Rechnungen</button>
      </li>
      <li><button class="menu" routerLink="/activity">Aktivitäten</button></li>
      <li>
        <button class="logout" (click)="toggle()" routerLink="/logout">
          Abmelden
        </button>
      </li>
    </ul>
  </div>
</header>
