<ng-container *ngIf="tausch == true">
  <app-header-login></app-header-login>
</ng-container>

<ng-container *ngIf="tausch == false">
  <app-header-dash></app-header-dash>
</ng-container>

Test
<!-- <ng-container *ngIf="login == true">
  <router-outlet></router-outlet>
</ng-container> -->

<!-- <app-signin (changeEvent)="receiveChange($event)"></app-signin> -->

<router-outlet></router-outlet>

<!-- <ng-container *ngIf="tausch == false">
  <router-outlet routerLink="/signin"> </router-outlet>
</ng-container>

<ng-container *ngIf="signin == true"> 
  <router-outlet routerLink="/dashboard"></router-outlet>
</ng-container> -->

<app-footer></app-footer>
