<div class="container">
  <ul>
    <li><h1>Rechnung erstellen</h1></li>

    <li><h2>Geben Sie bitte die Daten des Empfängers ein</h2></li>

    <li>
      <input
        type="text"
        class="form-control"
        placeholder="User-ID"
        [(ngModel)]="userID"
      />
    </li>

    <li>
      <input
        type="text"
        class="form-control"
        placeholder="Rechnungsnummer (optional)"
        [(ngModel)]="billnr"
      />
    </li>

    <li>
      <input
        id="product"
        type="text"
        class="form-control"
        placeholder="Produkt 1"
        [(ngModel)]="product1"
      />
      <input
        id="price"
        itemid="pricenumber"
        type="text"
        class="form-control"
        placeholder="Preis"
        [(ngModel)]="price1"
        (change)="calcPrice()"
      />
      <input
        id="number"
        type="number"
        class="form-control"
        [(ngModel)]="quantity1"
        (change)="calcPrice()"
      />
    </li>

    <li>
      <input
        id="product"
        type="text"
        class="form-control"
        placeholder="Produkt 2"
        [(ngModel)]="product2"
      />
      <input
        id="price"
        itemid="pricenumber"
        type="text"
        class="form-control"
        placeholder="Preis"
        [(ngModel)]="price2"
        (change)="calcPrice()"
      />
      <input
        id="number"
        type="number"
        class="form-control"
        [(ngModel)]="quantity2"
        (change)="calcPrice()"
      />
    </li>

    <li>
      <input
        id="product"
        type="text"
        class="form-control"
        placeholder="Produkt 3"
        [(ngModel)]="product3"
      />
      <input
        id="price"
        itemid="pricenumber"
        type="text"
        class="form-control"
        placeholder="Preis"
        [(ngModel)]="price3"
        (change)="calcPrice()"
      />
      <input
        id="number"
        type="number"
        class="form-control"
        [(ngModel)]="quantity3"
        (change)="calcPrice()"
      />
    </li>

    <li>
      <input
        type="text"
        class="form-control"
        placeholder="Frist"
        [(ngModel)]="deadline"
      />
    </li>

    <li>
      <p class="endprice">Gesamt: {{ this.endprice }} €</p>
    </li>

    <li>
      <button
        class="commit"
        (click)="postBill()"
        [disabled]="
          this.userID == '' ||
          this.product1 == '' ||
          this.price1 == '' ||
          this.quantity == '' ||
          this.deadline == ''
        "
      >
        Absenden
      </button>
    </li>
  </ul>
</div>
