<div class="container">
<div class="leftcontainter">
  <h1>Bezahlvorgang</h1>

  <div class="paymantMethods">
    
    <div class="payPal">
      <input type="radio" name="payPal" class="radioBtn" id="payPal" value="paypal" [checked] = "this.paypalCheck" (click)="check('paypal')">
      <img class="payPalLogo" [src]="payPal" alt="PayPal"/>
    </div>
    <div class="instantTransfer">
      <input type="radio" name="Sofort Überweisung" class="radioBtn" id="instantTransfer" value="instantTransfer" [checked] = "this.intantCheck" (click)="check('instant')">
      <img class="instantTransferLogo" [src]="instantTransfer" alt="Sofort Überweisung"/>
    </div>
    <div class="creditcard">
      <input type="radio" name="Kreditkarte" class="radioBtn" id="creditcard" value="creditcard" [checked] = "this.creditcardCheck" (click)="check('creditcard')">
      <img class="creditcardLogo" [src]="creditcard" alt="Kreditkarte"/>
    </div>
  </div>
  <p class="price">Zu bezahlender Betrag: {{price}} € </p>
  <button class="payBtn" (click)="btnClick()" >Weiter geht's</button>
</div>
<div class="rightcontainer">
</div>
</div>