<div class="container">
  <div class="title">
    <h1>Hallo {{ user }}!</h1>

    <h2>Du hast {{ billcount }} neue Rechnungen</h2>
  </div>

  <div class="col-xs-5">
    <img class="Billy" [src]="Billy" alt="Billy" />
  </div>

  <div class="rightcontainer">
    <ul class="list-group-item" id="list" *ngFor="let bill of bill">
      <li class="list-group">{{ bill.name }}</li>
      <li class="list-group">{{ bill.deadline }}</li>
      <li class="list-group">{{ bill.price }}€</li>
      <li class="list-group">{{ bill.status }}</li>
    </ul>
  </div>
</div>
