.container {
  margin-top: 8px;
  margin-bottom: 8px;
  border: 2px solid #05619b;
  border-radius: 10px;
  height: 600px;
}

.billList {
  display: flex;
  margin-top: 20px;
}
.list-group-item{
  width: 80%;
}

.standardPay {

  margin-right: 0.5%;
  border:none;
  border-radius: 8px 0px 0px 8px;
  border-color: black;
  background-color: #05619b;
  color: white;
}

.alternativePay {  
  margin-left: 0.5%;
  border:none;
  border-radius: 0px 8px 8px 0px;
  border-color: black;
  background-color: #bc0000;
  color: white;
}

.title {
  margin-right: 70px;
  float: right;
}

h1 {
  text-align: center;
  margin-left: 0;
}

h2 {
  text-align: center;
  margin-left: 0;
}
.Billy {
  float: left;
  height: 350px;
  width: 350px;
  
  margin-left: 10%;
  margin-top: 55%;
  
}

ul {
  list-style: none;
  margin-top: 0px;
}

li {
  display: inline;
  margin-right: 40px;
}

.rightcontainer {
  
  float: right;
  height: 380px;
  overflow-y: scroll;
  margin-right: 50px;
}

#list {
  border: 1px solid black;
  border-radius: 10px;
  height: 45px;
  text-align: justify;
}

.left {
  margin-bottom: 20px;
}
