.container {
  width: 300px;
  height: 100%;
}

ul li{
display: inline;
list-style: none;
}

.list{
  height: 50%;
  overflow-y: scroll;
}

.detail {
  background-color: #3b3b3b;
  color: white;
  border-color: white;
  border: 1px solid white;
  width: 300px;
  text-align: center;
  border-radius: 15px;
  height: 550px;
}

.hr {
  width: 150px;
}

.item{
  float: left;
}

.price {

align-self: flex-end;
}

.payBtn{
  width: 60%;
  background: transparent;
  height: auto;
  border: 2px solid white;
  border-radius: 10px;
 
}
