<div class="container">
  <h1>Neue Zahlmethode hinzufügen</h1>
  <button class="back" routerLink="/settings">Zurück</button>

  <hr />

  <div class="bankAccount">
    <button id="buttonNew" type="button" (click)="newBankPayment()">
      Bankverbindung hinzufügen
      <span class="caret"></span>
    </button>

    <ul id="list" *ngIf="newBank">
      <li>
        <input
          type="text"
          class="form-control"
          placeholder="Name der Zahlmethode"
          [(ngModel)]="name1"
        />
      </li>

      <li>
        <input
          id="BIC"
          type="text"
          class="form-control"
          placeholder="BIC (Swift-Code)"
          [(ngModel)]="bic"
        />
      </li>

      <li>
        <input
          type="text"
          class="form-control"
          placeholder="IBAN"
          [(ngModel)]="iban"
        />
      </li>

      <li>
        <input
          id="BIC"
          type="text"
          class="form-control"
          placeholder="Kontoinhaber"
          [(ngModel)]="owner1"
        />
      </li>

      <li>
        <button
          id="confirm"
          type="submit"
          (click)="submitBank()"
          [disabled]="
            this.name1 == '' ||
            this.bic == '' ||
            this.iban == '' ||
            this.owner1 == ''
          "
        >
          Bankverbindung hinzufügen
        </button>
      </li>
    </ul>
  </div>

  <div>
    <hr />
  </div>

  <!-- Neue Kreditkarte hinzufügen -->

  <div class="Kreditcard">
    <button id="buttonNew" type="button" (click)="newKreditcard()">
      Kreditkarte hinzufügen
      <span class="caret"></span>
    </button>

    <ul id="list" *ngIf="newCard">
      <li>
        <input
          type="text"
          class="form-control"
          placeholder="Name der Zahlmethode"
          [(ngModel)]="name2"
        />
      </li>

      <li>
        <input
          id="BIC"
          type="text"
          class="form-control"
          placeholder="Karteninhaber"
          [(ngModel)]="owner2"
        />
      </li>

      <li>
        <input
          type="text"
          class="form-control"
          placeholder="Kartennummer"
          [(ngModel)]="cardnr"
        />
      </li>

      <li>
        <input
          type="text"
          placeholder="Gültig bis"
          class="form-control"
          [(ngModel)]="date"
        />
      </li>

      <li>
        <button
          id="confirm"
          type="submit"
          (click)="submitCreditcard()"
          [disabled]="
            this.name2 == '' ||
            this.owner2 == '' ||
            this.cardnr == '' ||
            this.date == ''
          "
        >
          Kreditkarte hinzufügen
        </button>
      </li>
    </ul>
  </div>
</div>
