<div class="container">
  <h1>Neue Zahlmethode hinzufügen</h1>
  <hr />

  <div class="bankAccount">
    <button type="button">
      Bankverbindung hinzufügen
    </button>

    <ul id="penis">
      <li>
        <input
          type="text"
          class="form-control"
          placeholder="Name der Zahlmethode"
        />
      </li>

      <li>
        <input
          id="BIC"
          type="text"
          class="form-control"
          placeholder="BIC (Swift-Code)"
        />
      </li>

      <li>
        <input type="text" class="form-control" placeholder="IBAN" />
      </li>

      <li>
        <input
          id="BIC"
          type="text"
          class="form-control"
          placeholder="Kontoinhaber (Nicht Name der Bank)"
        />
      </li>

      <li>
        <button type="submit">Bankverbindung hinzufügen</button>
      </li>
    </ul>

    <hr />
  </div>

  <div class="Kreditcard">
    <button type="button">
      Bankverbindung hinzufügen
    </button>

    <ul id="penis">
      <li>
        <input
          type="text"
          class="form-control"
          placeholder="Name der Zahlmethode"
        />
      </li>

      <li>
        <input
          id="BIC"
          type="text"
          class="form-control"
          placeholder="BIC (Swift-Code)"
        />
      </li>

      <li>
        <input type="text" class="form-control" placeholder="IBAN" />
      </li>

      <li>
        <input
          id="BIC"
          type="text"
          class="form-control"
          placeholder="Kontoinhaber (Nicht Name der Bank)"
        />
      </li>

      <li>
        <button type="submit">Bankverbindung hinzufügen</button>
      </li>
    </ul>

    <hr />
  </div>
</div>
