<div class="container">
  <h1>Einstellungen</h1>

  <div class="payment1">
    <h2 id="choose">Bezahlmethode 1</h2>

    <select
      class="btn btn-primary dropdown-toggle"
      name="methode 1"
      id="dropdownleft"
    >
      <option *ngFor="let payments of payments" [value]="payments.name">
        {{ payments.name }}
      </option>
    </select>
  </div>

  <div class="payment2">
    <h2 id="select">Bezahlmethode 2</h2>

    <select
      class="btn btn-primary dropdown-toggle"
      name="methode 2"
      id="dropdownright"
    >
      <option *ngFor="let payments of payments" [value]="payments.name">
        {{ payments.name }}
      </option>
    </select>
  </div>

  <div class="newPayment">
    <button class="newPaymentBtn" routerLink="/newPayment">
      Neue Zahlungsmethode hinzufügen
    </button>
  </div>
</div>
