<div class="container">
  <h1>Einstellungen</h1>

  <div class="payment1">
    <h2 id="choose">Bezahlmethode 1</h2>

    <select
      class="btn btn-primary dropdown-toggle"
      name="methode 1"
      id="dropdownleft"
      [(ngModel)]="selectedOption1"
    >
      <option *ngFor="let payments of payments" [value]="payments.id">
        {{ payments.name }}
      </option>
    </select>
  </div>

  <div class="payment2">
    <h2 id="select">Bezahlmethode 2</h2>

    <select
      class="btn btn-primary dropdown-toggle"
      name="methode 2"
      id="dropdownright"
      [(ngModel)]="selectedOption2"
    >
      <option *ngFor="let payments of payments" [value]="payments.id">
        {{ payments.name }}
      </option>
    </select>
  </div>

  <div class="newPayment">
    <ul class="ulButtons">
      <li id="liButtons" class="paymentButton">
        <button class="putPayment" (click)="putPayment()">
          Zahlungsmethode festlegen
        </button>
      </li>

      <li id="liButtons" class="newPaymentButton">
        <button class="newPaymentBtn" routerLink="/newPayment">
          Neue Zahlungsmethode erstellen
        </button>
      </li>
    </ul>
  </div>
</div>
