.container {
  margin-top: 8px;
  margin-bottom: 8px;
  min-height: 579px;
  border: 2px solid #05619b;
  border-radius: 10px;
  background-color: white;
}
h1 {
  text-align: center;
  margin-top: 10%;
}

#dropdownleft {
  float: left;
}

#dropdownright {
  float: right;
}

.payment1 {
  float: left;
  margin-top: 5%;
  margin-left: 6%;
}

#delete1 {
  float: right;
}

.payment2 {
  float: right;
  margin-top: 5%;
  margin-right: 8%;
}

#delete2 {
  float: right;
}

.newPayment {
  margin-left: 28%;
  margin-top: 25%;
}

.newPaymentBtn {
  background-color: #05619b;
  border: 4px solid white;
  border-radius: 50px;
  color: white;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
}
